<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.mybatisplus.dao.UserMapper">

    <select id="testDB" resultType="int">
        select count(*) from t_user
    </select>

    <update id="updateBatchByIds">
        update t_user
        set age = age - #{age}
        ${ew.customSqlSegment}

    </update>
</mapper>